body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F5EFF7;
  }
  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #333;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
  }
  
  .sidenav a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 14px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .main-content {
    text-align: center;
    position: relative;
  }
  
  .image-container {
    position: relative;
    display: inline-block;
  }
  
  .image-container img {
    max-width: 100%;
    height: auto;
  }
  
  .content-block {
    margin-top: 0;
    color: #14311D;
  }
  .content-block img {
    width: 80%; 
    display: block; 
    margin: 15% auto 0 auto; 
    border-radius: 3%;
  }
 
  .content-block h2 {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: left;
    font-size: 32px;
    font-weight: bold;
  }
  .content-block p {
    margin-top: -5%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 20px;
    text-align: left;
  }
  .footer-help p{
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    font-size: 16px;
    color: #14311D;
  }
  .content-item {
    margin-top: 0;
    color: #14311D;
  }
  .content-item img {
    width: 80%; 
    display: block; 
    margin: 15% auto 0 auto; 
    border-radius: 3%;
  }
  .paragraph-container {
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
}

.left-paragraph {
    width: 75%;
    text-align: left;
}

.right-paragraph {
    width: 10%;
    text-align: right;
}
.footer{
  background-color: #14311D;
  padding-top: 5vh;
  padding-bottom: 10vh;
}
.socialIcons {
  display: flex;
  align-items: left;
}

.socialIcons a {
  margin-left: 5vh;
  color: white; 
  font-size: 24px;
  text-decoration: none; 
}
.footer-desc{
  margin-top: 5%;
  margin-left: 10%;
  margin-bottom: 10%;
  font-size: 16px;
  color:  #F5EFF7;
}
.footer-menu{
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  color: #F5EFF7;
}
.footer-title{
  margin-bottom: 0;
}
.footer-text{
  text-decoration: underline;
}

.contactItem {
  display: flex;
  align-items: center;
}
.footer-menu a {
  color: #000000; 
}

.contactItem i {
  margin-right: 3%;
  color: #F5EFF7;
}






  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0); 
    z-index: 0;
    display: none; 
    transition: background-color 1s ease;
  }
  
  .overlay.active {
    background-color: rgba(0, 0, 0, 0.7);
    display: block; 
  }