body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(140, 138, 138);
  }
  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #333;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
  }
  
  .sidenav a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 14px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .main-content {
    text-align: center;
    position: relative;
  }
  
  .image-container {
    position: relative;
    display: inline-block;
  }
  
  .image-container img {
    max-width: 100%;
    height: auto;
  }
  
  .centered-text {
    position: absolute;
    width: 100%;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 2px 2px 3px rgb(0, 0, 0);
  }
  
  .content-block {
    margin-top: 10%;
  }
  .content-block img {
    width: 80%; /* Imposta la larghezza dell'immagine al 80% dello schermo */
    display: block; /* Per evitare spazi bianchi extra */
    margin: 25% auto 0 auto; /* Per centrare l'immagine */
  }
 
  .content-block h2 {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: left;
    font-size: 32px;
    font-weight: bold;
  }
  .content-block p {
    margin-left: 10%;
    margin-right: 10%;
    text-align: left;
    text-size: 36px;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0); /* Opacità iniziale al 0% */
    z-index: 0;
    display: none; /* Inizialmente nascosto */
    transition: background-color 1s ease; /* Transizione della opacità */
  }
  
  .overlay.active {
    background-color: rgba(0, 0, 0, 0.7); /* Opacità al 50% */
    display: block; /* Mostra l'overlay quando la navbar è aperta */
  }
